//= require_self

@import "navbar_categories";

@mixin icon-before($icon){
  content: $icon;
  font-family: FontAwesome;
}

#keppler-blog{
	margin-top: 100px;
	background: red;
	.posts-wrapper{
		.post{
			&-title{
				margin: 0px;
				font-size: 20px;
				a, a:hover{
					color: #434955;
					text-decoration: none;
				}
			}

			&-attributes{
				margin: 5px 0px 25px 0px;
				ul{
					padding: 0px;
					li{
						margin-right: 20px;
						list-style-type: none;
						display: inline-block;
						color: #9ca4af;
						i{
							margin-right: 10px;
							color: #ee6e73;
						}
						a{
							color: #9ca4af;
						}
					}
				}
			}

			&-image{
				img{
					border-radius: 5px;
				}
			}

			&-body{
				color: #676f7a;
				line-height: 22px;
				text-align: left;
				margin: 5px 0px 20px 0px;
				p{
					color: #676f7a;
					text-align: left;
					line-height: 22px;
				}
				.read-more{
					margin-top: 15px;
					a{
						border-color: #ee6e73;
  					color: #ee6e73;
						padding: 2px 13px;
					  font-size: 13px;
					  line-height: 16px;
					  border-width: 2px;
					}
				}
			}
		}

		.hr-half{
			border-color: #c8c8c8;
  		border-top-width: 2px;
		}
	}

	.blog-widget{
		margin-bottom: 50px;
		@media #{$phone} {
			margin-bottom: 15px;
		}
		&--header{
			margin-bottom: 10px;
			.widget-title{
			  font-size: 18px;
			  text-transform: uppercase;
			  font-weight: 500;
			  margin: 0px 0px 10px 0px;
			}
		}

		&--body{
			ul.widget-list{
				padding: 0px;
				li{
					list-style-type: none;
				}
			}

			//widget recents
			#recents{
				li{
					margin-top: 10px;
					a{
						color: #333;
					}
				}
			}

			//widget tags
			#tags{
				li{
					margin-bottom: 10px;
					display: inline-block;
					a{
						border-radius: 2px;
						font-size: 12px;
						background: #333;
						color: white;
						padding: 4px 10px;
						text-transform: uppercase;
					}
					a:hover{
						text-decoration: none;
						background: #ee6e73;
						-webkit-transition: background .5s;
        		transition: background .5s;
					}
					a.active{
						background: #ee6e73;
					}
				}
			}

			//widget search
			#search{
				input {
					width: 100%;
					padding:5px 10px 5px 20px;
				}
			}
		}
	}

	.social-share-button{
		margin-top: 5px;
	}

	.pagination{
		width: 100%;
		text-align: center;

		.btn-current{
			background: #ee6e73;
			color: white;
			font-weight: bold;
		}

		.page, .next, .last, .prev, .first{
			.btn-page, .btn-page:hover{
				color: rgba(0, 0, 0, 0.54) !important;
				background: #eeeeee;
				font-weight: bold;
				i{
					font-weight: bold;
				}
			}
		}
	}
}

.social-share-button{
	a{
		text-decoration: none;
		color: #333;
		font-size: 30px;
		margin-left: 3px;
	}

	a:hover{
		color: #ee6e73;
		-webkit-transition: color .5s;
        		transition: color .5s;
	}

	&-twitter:before{
		@include icon-before("\f081");
	}

	&-facebook:before{
		@include icon-before("\f082")
	}

	&-google_plus:before{
		@include icon-before("\f0d4")
	}

	&-pinterest:before{
		@include icon-before("\f0d3")
	}

	&-tumblr:before{
		@include icon-before("\f174")
	}

	&-email:before{
		@include icon-before("\f199")
	}

}