.listing-show-header
	.actions
		- if can? :index, KepplerCatalogs::Attachment
			= link_to catalog_attachments_path(@catalog), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Ir a archivos", "data-no-turbolink" => false do
				= material_icon.md_24.perm_media
		- if can? :update, KepplerCatalogs::Catalog
			= link_to edit_catalog_path(@catalog), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.perm_media.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @catalog.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= sanitize(@catalog.description, tags: []).truncate(300)
		%li.list-row
			.display-label Archivos contenidos
			.display-value= @catalog.attachments.count


:javascript
	$('.tooltipped').tooltip({delay: 1});