%footer
	.row#contactos
		.col-md-4.col-sm-12.col-xs-12
			= image_tag 'frontend/logo_blanco.png'
		.col-md-4.col-sm-12.col-xs-12.social
			.col-md-4.col-sm-4.col-xs-4.center{style: "margin:0; padding: 0;"}
				= link_to "https://twitter.com/reliamedia", target: "_blank" do
					%i.fa.fa-twitter#socials
			.col-md-4.col-sm-4.col-xs-4.center{style: "margin:0; padding: 0;"}
				= link_to "https://www.facebook.com/reliabilitymedia", target: "_blank" do
					%i.fa.fa-facebook-official#socials
			.col-md-4.col-sm-4.col-xs-4.center{style: "margin:0; padding: 0;"}
				= link_to "https://www.instagram.com/reliabilitymedia", target: "_blank" do
					%i.fa.fa-instagram#socials
		.col-md-4.col-sm-12.col-xs-12.text-footer.center
			¡Síguenos en nuestras redes sociales y entérate de más!
	.row.footer
		.col-md-6.col-sm-6#slice
			Desarrollado por
			= link_to "http://slicegroup.xyz" do
				= image_tag("frontend/slice.png")
		.col-md-6.col-sm-6#muffin
			Diseñado por
			= link_to "http://studiomuffin.com/" do
				= image_tag("frontend/studio-muffin.png")