-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to '/' do
        = image_tag 'frontend/logo_blanco.png', id: 'brand-logo'
    .collapse.navbar-collapse
      - if controller_name == "frontend"
        %ul.nav.navbar-nav.pull-right
          %li= link_to "SERVICIOS", "#services"
          %li= link_to "NOSOTROS", "#about"
          %li= link_to "BLOG", "#blog"
          %li= link_to "CLIENTES", "#clients"
          %li= link_to "CONTACTO", "#contacts"

      - else
        %ul.nav.navbar-nav.pull-right
          %li= link_to "SERVICIOS", main_app.root_path(anchor: "services"), class: "external"
          %li= link_to "NOSOTROS", main_app.root_path(anchor: "about"), class: "external"
          %li= link_to "BLOG", "/blog"
          %li= link_to "CLIENTES", main_app.root_path(anchor: "clients"), class: "external"
          %li= link_to "CONTACTO", main_app.root_path(anchor: "contacts"), class: "external"

      