@import '../core/main';

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.section-title {
  color: $lightgray;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;

   @include respond-to(xs) {
    font-size: 2.4rem;
   }
  a {
    color: $lightgray;
    text-decoration: none;
  }
}

.section-description {
  color: $lightgray;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 50px;
  padding: 0 10rem;
  text-align: center;

  @include respond-to(xs) {
    font-size: 1.7rem;
    margin-bottom: 30px;
    padding: 0 2rem;
  }

  @include respond-to(sm) {
    margin-bottom: 30px;
    padding: 0 6rem;
  }
}

.section-hr {
  border-bottom: 2px solid $lightgray;
  margin: 2rem 33rem;

  @include respond-to(xs) {
    margin: 3rem 5rem;
  }

  @include respond-to(sm) {
    margin: 2.5rem 17rem;
  }
}

#nprogress {

  .spinner {
    top: 15px;
    z-index: 999999;
  }

  .spinner-icon {
    border: solid 3px transparent;

    border-left-color: #29d;
    border-top-color: #29d;

    height: 40px;
    width: 40px;
  }
}
