.center {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
}
.center-text {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
  width: 100%;
}
.to-bottom {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-end);
  height: 100%;
}
.to-top {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);
  height: 100%;
}

section {
	padding: 80px 10rem 10px 10rem;

	@include respond-to(sm) {
		padding: 80px 0 10px;
	}
	@include respond-to(xs) {
		padding: 80px 0 10px;
	}
}