.contact-form
	= render "layouts/frontend/messages"
	= simple_form_for @message, :url => "/admin/messages", :method => :post do |f|
		.row
			.col-lg-12
				= f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control", placeholder: "Nombre", required: "required"}

			.col-lg-12
				= f.input :email, as: :email, label: false, input_html: {class: "form-control", placeholder: "Email", required: "required"}

			.col-lg-12
				= #f.input :origin, label: false, input_html: {class: "form-control", placeholder: "País"}

			.col-lg-12
				= f.input :subject, label: false, input_html: {class: "form-control", placeholder: "Asunto"}

			.col-lg-12
				= f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "Mensaje..."}
		.row
			.col-lg-6
				= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true

			.col-lg-6.form-actions.right
				= f.button :submit, "Enviar", class: "btn btn-primary pull-right"

