- if can? :index,  KepplerCatalogs::Catalog
	%li
		= header_tab t('model.plural.catalogs'), "perm_media", current_navigation?("KepplerCatalogs")
		= body_tab do
			- if can? :index, KepplerCatalogs::Catalog
				= link_tab "Lista de catálogos", '/admin/catalogs', current_navigation?("KepplerCatalogs::Catalogs")
