.quotes {

  &-single {
    color: $lightgray;
    padding: 2rem 12rem;
    img {
      width: 90px;
      @include respond-to(xs) {
        width: 140px;
        margin-bottom: 23px;
      }
    }

    @include respond-to(md) {
      padding: 2rem 3rem;
    }

    @include respond-to(sm) {
      padding: 2rem 8rem 0;
    }

    @include respond-to(xs) {
      padding: 2rem 2rem 0;
    }
  }
  &-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    
    @include respond-to(xs) {
      font-size: 2rem;
    }
        
  }

  &-text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    line-height: 30px;

    @include respond-to(xs) {
      line-height: 24px;
    }
        
    span {
      font-weight: 900;
      font-size: 6rem;
      display: inline;

      @include respond-to(xs) {
        font-weight: 900;
        font-size: 3rem;
        display: inline;
      }
    }
    .start-quote {
      position: relative;
      top: 20px;
      margin-right: 10px;

      @include respond-to(xs) {
        position: relative;
        top: 7px;
        margin-right: 0;
      }
    }
    .end-quote {
      position: absolute;
      bottom: -8px;
      margin-left: 10px;

      @include respond-to(xs) {
        bottom: -2px;
        margin-left: 3px;
        position: absolute;
      }
    }

    @include respond-to(xs) {
      font-size: 1.2rem;
    }
  }
  &-data p {
    font-weight: 300;
    font-size: 1.7rem;
    text-align: center;
    padding: 0 1.5rem;
    margin-bottom: 0;

    @include respond-to(xs) {
      font-size: 1.3rem;
    }
  }
}

#about {
  .progress {
    border-radius: 0;
    height: 6px;
    margin: 0 0 20px 15%;
    position: relative;
    width: 70%;
    background-color: $lightgray;
  }

  .progress-bar {
    width: 0%;
    background-color: $blue;
  }

  .current-quotes {
    -webkit-animation: barra 8s infinite;
  }

  @-webkit-keyframes barra {
    0%   { width: 0%; }
    100% { width: 100%; }
  }
}

#fashion {
  background: image-url('frontend/foto-para-texto-seo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 400px;
  color: $white;
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin-top: 30px;
  padding-top: 2%;
  padding-bottom: 2%;

  @include respond-to(xs) {
    background-position: 78% 50%;
    font-size: 3.5rem;
  }

  @include respond-to(sm) {
    font-size: 5rem;
    background-position: 80% 50%;
  }

  @include respond-to(md) {
    font-size: 5rem;
    background-position: 80% 50%;
  }

  span {
    font-weight: 700;
  }

  .fashion-line {
    background: rgba(64, 64, 64, 0.40);
    height: 100%;
  }
}