.carousel-inner {
  .active {
    display: flex !important;
    @include respond-to(sm) {
      display: inline-block !important;
    }
    @include respond-to(xs) {
      display: inline-block !important;
    }
  }
}
.blog-gallery-slide {
  width: 100%;
}
//slick
.slick-dots {
  position: relative;
  bottom: 0;
  li > button:before {
    color: $lightgray;
    height: 20px;
    width: 20px;
    font-size: 20px;
    opacity: 1;
  }
  .slick-active > button:before {
    color: $blue !important;
    opacity: 1 !important;
  }
}

.blog-gallery-single {
  width: 50%;
  height: 400px;
  position: relative;
  overflow: hidden;

  @include respond-to(sm) {
    width: 100%;
    height: 300px;
  }
  @include respond-to(xs) {
    width: 100%;
    height: 300px;
  }

  &:hover {

    .blog-gallery-single-mask-up {
      @include transition(top .5s ease);
      top: 0;
    }

    .blog-gallery-single-mask-down {
      @include transition(bottom .5s ease);
      bottom: 0;
    }
  }

  &-mask-up,
  &-mask-down {
    background: $blue-hover;
    color: $white;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &-mask-up {
    @include transition(top .5s ease);
    height: 60%;
    padding: 0 3rem;
    top: -60%;
    text-align: center;

    @include respond-to(md) {
      top: 0;
      height: 70%;
      padding: 0 1.7rem;
    }

    @include respond-to(sm) {
      top: 0;
      height: 70%;
      padding: 0 1.5rem;
      background: rgba(95, 94, 97, 0.62);
    }

    @include respond-to(xs) {
      top: -34px;
      height: 75.3%;
      padding: 0 1rem;
      background: rgba(95, 94, 97, 0.62);
    }
  }

  &-mask-down {
    @include transition(bottom .5s ease);
    bottom: -40%;
    height: 40%;
    padding-top: 10px;

    @include respond-to(md) {
      bottom: 0;
      height: 30%;
    }

    @include respond-to(sm) {
      bottom: 0;
      height: 30%;
      background: rgba(95, 94, 97, 0.62);
    }

    @include respond-to(xs) {
      bottom: 0;
      height: 36%;
      background: rgba(95, 94, 97, 0.62);
    }

    a:focus {
      outline: none;
    }

    .btn {
      background: transparent;
      border-radius: 0;
      border: 2px solid $white;
      color: $white;
      font-size: 1.5rem;
      font-weight: 400;
      padding: 10px 15px;
      margin-top: 25px;

      @include respond-to(xs) {
        margin-top: 0px;
      }
    }

    .btn:hover {
      @include transition(background .5s ease);
      background: $white;
      color: $blue;
      
      @include respond-to(sm) {
        color: rgba(128, 128, 128, 1);
      }
      @include respond-to(xs) {
        color: rgba(128, 128, 128, 1);
      }
    }
  }
  .post-title {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 65px;
    @include respond-to(md) {
      font-size: 2.5rem;
    }
    @include respond-to(sm) {
      font-size: 2.5rem;
    }
    @include respond-to(xs) {
      font-size: 2rem;
    }
  }
  .post-preview {
    font-weight: 400;
    @include respond-to(md) {
      font-size: 1.5rem;
    }
    @include respond-to(sm) {
      font-size: 1.5rem;
    }
    @include respond-to(xs) {
      font-size: 1.2rem;
    }
  }
}