#contacts {
  background: $darkgray;
  margin-bottom: 50px;

  @include respond-to(xg) {
    padding: 8rem 10rem;
  }
  @include respond-to(lg) {
    padding: 8rem 10rem;
  }

  .contacts-row {
    margin-top: 70px !important;
  }

  .contact-title {
    @extend .section-title;
    color: $white;
  }

  .contact-hr {
    @extend .section-hr;
    border-bottom-color: $white;
  }
  .contact-text {
    color: $white;
    font-weight: 400;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 30px;
    span {
      font-weight: 700;
    }
    @include respond-to(sm) {
      text-align: center;
      padding: 0 50px;
      font-size: 2rem;
    }

    @include respond-to(xs) {
      text-align: center;
      padding: 0 50px;
      font-size: 2rem;
    }
  }
  .contact-text-2 {
    font-size: 1.5rem;
    li {
      display: block;
      color: $white;
      font-size: inherit;
    }
    @include respond-to(sm) {
      text-align: center;
    }

    @include respond-to(xs) {
      text-align: center;
      font-size: 1.4rem;
    }
  }
}

.new_message {
  margin-bottom: 50px;

  @include respond-to(sm) {
    margin-top: 50px;
    padding: 0 50px;
  }
  @include respond-to(xs) {
    margin-top: 50px;
    padding: 0 50px;
  }

  .form-control {
    background: #555;
    border: 0;
    margin-bottom: 10px;
    color: $white;
    padding: 15px 15;

    @include respond-to(sm) {
      margin-bottom: 5px;
    }

    @include respond-to(xs) {
      margin-bottom: 5px;
    }
  }
  .g-recaptcha div:nth-child(1){
    transform: scale(.82);
    transform-origin: 0 0;
  }
  .btn {
    background-color: #232020;
    border: none;
    padding: 10px 25px;
  }
}
