#socials {
  color:#abaaaa;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s;
  padding: 10px 0;
  @include respond-to(xs) {
    font-size: 40px;
  }
}

#socials:hover {
  color: $blue;
}

#contactos {
  margin: 0;
  width: 100%;
  padding: 2rem 3rem;
  background-color: $darkgray;
  padding-right: 9.3rem;

  @include respond-to(sm) {
    padding-right: 3rem;
  }

  @include respond-to(xs) {
    padding-right: 3rem;
  }

  img {
    height: 60px;
    position: relative;
    top: 1.2rem;
  }
}

.text-footer {
  color: $white;
  font-size: 2rem;
  font-weight: 400;
  padding-right: 5.3rem;
  padding-left: 14rem;

  @include respond-to(xs) {
    font-size: 1.7rem;
    text-align: center;
    padding-right: 0;
    padding-left: 0;

  }
  @include respond-to(md) {
    font-size: 1.8rem;
    padding-right: 0.3rem;
    padding-left: 7rem;
  }

  @include respond-to(sm) {
    font-size: 1.8rem;
    padding-right: 0;
    padding-left: 0;
  }
}

.social {
  padding-left: 12rem;
  padding-right: 12rem;
  position: relative;
  top: 1.2rem;

  @include respond-to(md) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include respond-to(xs) {
    padding-left: 0;
    padding-right: 0;
  }

}

.footer {
  margin: 0;
  padding: 3rem 10rem;
  color: $lightgray;
  font-size: 2.5rem;
  font-weight: 300;

  @include respond-to(md) {
    padding: 3rem 8rem;
  }

  @include respond-to(sm) {
    padding: 3rem 4rem;
  }

  @include respond-to(xs) {
    padding: 3rem 1rem;
    font-size: 2rem;
  }

  #slice {
    text-align: left;
    font-size: 1.5rem;

    @include respond-to(xs) {
      text-align: center;
    }

    img {
      width: 45px;
      display: inline-block;
      margin-left: 10px;

      @include respond-to(sm) {
        margin-left: 5px;
      }
    }
  }

  #muffin {
    text-align: right;
    font-size: 1.5rem;

    @include respond-to(xs) {
      text-align: center;
    }

    img {
      width: 58px;
      display: inline-block;
      margin-left: 10px;

      @include respond-to(sm) {
        margin-left: 5px;
      }
    }
  }
}