#home {
  height: 100%;
  padding: 60px 0 0;
  width: 100%;

  .home-carousel {
    height: 100%;
    width: 100%;
  }
  .slick-list,
  .slick-track {
    height: 100%;
  }

  @for $i from 1 through 3 {
    .home-#{$i} {
      background: image-url('frontend/landing/home-slides-#{$i}.jpg');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  }

  .home-mask-text {
    background: $transparent-gray;
    color: $white;
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
    height: 130px;
    text-align: center;
    width: 100%;

    .text-1, .text-2 {
      padding: 3.2%;
    }

    .text-3 {
      padding: 2%;
      padding-left: 15%;
      padding-right: 15%;
    }

    @include respond-to(xs) {
      font-size: 20px;
      padding: 2% 20px;
      height: auto;
      line-height: 25px;
      padding: 0;
    }

    @include respond-to(sm) {
      font-size: 25px;
      padding: 2% 30px;
      height: auto;
      padding: 0;
    }

    @include respond-to(md) {
      font-size: 28px;
      padding: 0;
    }

    span {
      font-weight: 700;
    }
  }

  .progress {
    border-radius: 0;
    height: 3px;
    margin: 0;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
  }

  .progress-bar {
    width: 0%;
    background-color: $blue;
  }

  .current-home {
    -webkit-animation: barra 8s infinite;
  }

  @-webkit-keyframes barra {
    0%   { width: 0%; }
    100% { width: 100%; }
  }

}
