
.home-navbar-color {
  @include transition(background-color .5s ease);
  background-color: $darkgray !important;
  a {
    @include transition(color .5s ease);
    color: $white !important;
  }
  .navbar-collapse[aria-expanded="true"] {
    ul {
      background: rgba(55,55,55,0.6);
    }
  }
}

#front-navbar {
  @include transition(background-color .5s ease);
  background-color: white;
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
  font-family: $condensed;
  font-size: 15px;
  font-weight: bold;
  height: 60px;
  margin-bottom: 0;
  .container {

    @include respond-to(sm){
      width: 100%;
    }

    @include respond-to(xs){
      width: 95%;
    }
  }

  @include respond-to(sm){
    font-size: 18px;
  }

  li {
    cursor: pointer;
    a:hover {
      @include transition(color .5s ease);
      color: $blue !important;
      padding-top: 20px;
    }
  }
  li:hover,
  .current {
    a {
      @include transition(color .5s ease);
      color: $blue;
    }
  }

  a {
    @include transition(color .5s ease);
    color: $darkgray;
    padding-top: 20px;
  }


  .navbar-nav {
    height: 80px;
  }

  img {
    height: 50px;
    margin-top: 5px;
    display: inline-block;

    @include respond-to(xs) {
      height: 40px;
      margin-left: 15px;
      margin-right: 0;
      margin-top: 10px;
    }
  }
}

.navbar-toggle {
  padding: 14px 10px;
  border-radius: 0;
}
.navbar-collapse[aria-expanded="true"] {
  overflow: visible;
  margin-top: -3px;
  border: none;
  
  ul {
    padding: 15px 0;
    height: auto !important;
    width: 400px;
    text-align: right;
    background: rgba(255,255,255,0.75);
    margin-right: -32px;
    padding-right: 20px;
    margin-top: 0;

    @include respond-to(xs){
      background: rgba(255,255,255,1);
    }
    a {
      padding-top: 10px !important;
    }
  }
}
