#services {
  text-align: center;
}

.service-gallery {

  .row {
    margin: 0;
    padding: 0;
  }

  &-single {
    font-size: 2.7rem;
    font-weight: 700;
    height: 200px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    @include respond-to(xl) {
      height: 280px;
    }

    @include respond-to(lg) {
      height: 240px;
    }

    @include respond-to(sm) {
      font-size: 2.3rem;
    }
    @include respond-to(xs) {
      font-size: 2rem;
    }
  }

  &-single:hover {

    .service-gallery-single-mask-up {
      @include transition(top .5s ease);
      top: 0;
    }

    .service-gallery-single-mask-down {
      @include transition(bottom .5s ease);
      bottom: 0;
    }
  }

  &-single-mask-up,
  &-single-mask-down {
    background: $blue-hover;
    color: $white;
    position: absolute;
    width: 100%;
    z-index: 1;
    line-height: normal;

    @include respond-to(md) {
      background: rgba(128, 128, 128, 0.6);
    }

    @include respond-to(sm) {
      background: rgba(128, 128, 128, 0.6);
    }

    @include respond-to(xs) {
      background: rgba(128, 128, 128, 0.6);
    }
  }  

  &-single-mask-up {
    @include transition(top .5s ease);
    height: 50%;
    padding: 0 3rem;
    top: -50%;    
    padding-top: 5rem;
    font-weight: 400;
    font-size: 2.2rem;


    @include respond-to(md) {
      top: 0;
    }

    @include respond-to(sm) {
      top: 0;
    }

    @include respond-to(xs) {
      top: 0;
    }
  }

  &-single-mask-down {
    @include transition(bottom .5s ease);
    bottom: -50%;
    height: 50%;
    padding-top: 10px;    
    font-size: 1.2rem;

    @include respond-to(md) {
      bottom: 0;
    }

    @include respond-to(sm) {
      bottom: 0;
    }

    @include respond-to(xs) {
      bottom: 0;
    }

    .btn {
      @include transition(background .5s ease);
      background: transparent;
      border-radius: 0;
      border: 2px solid $white;
      color: $white;
      font-size: 1.2rem;
      font-weight: 400;
    }

    .btn:hover {
      @include transition(background .5s ease);
      background: $white;
      border-radius: 0;
      border: 2px solid $white;
      color: $blue;
      font-size: 1.2rem;
      font-weight: 400;

      @include respond-to(md) {
        color: rgba(128, 128, 128, 1);
      }

      @include respond-to(sm) {
        color: rgba(128, 128, 128, 1);
      }

      @include respond-to(xs) {
        color: rgba(128, 128, 128, 1);
      }
    }
  }
}
