// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";
html, body, main {
	height: 100%;
}

.slick-initialized .slick-slide {
    display: block;
    outline: none;
}
