
.container-fluid
	%p Categorias
	%ul
		- @categories.each do |category|
			- unless category.posts.count.zero?
				%li.dropdown
					= link_to filter_path('category', category.permalink), class: "dropdown-toggle #{'active' if category.permalink.eql?(params[:permalink]) or category.permalink.eql?(params[:category])}" ,"aria-expanded" => false, "aria-haspopup" => true, "data-toggle" => "dropdown disabled", :role => "button" do
						= category.name.titleize
						
					- unless category.subcategories.empty?
						%span.caret
						%ul
							- category.subcategories.each do |subcategory|
								%li
									= link_to subcategory.name, filter_subcategory_path(category.permalink, subcategory.permalink), class: "#{'active' if category.permalink.eql?(params[:category]) and subcategory.permalink.eql?(params[:subcategory])}"
