
.blog-widget
	.blog-widget--header
		%h3.widget-title
			Recientes
	.blog-widget--body
		%ul.widget-list#recents
			- @posts_recents.each do |post|
				.post.row
					.col-lg-4{style:"padding:0"}
						.post-image
							= link_to blog_show_post_path(post.permalink) do
								= image_tag post.image
					.col-lg-8{style:"padding:0"}
						.post-title
							= link_to post.title, blog_show_post_path(post.permalink)
							%p
								= post.created_at.strftime("%d %b. %Y")
					
	

