= title "Keppler Blog"
= meta_description "Bienvenidos al blog de keppler admin, aquí podras encontrar excelentes articulos sobre ruby on rails."

.container.blog#keppler-blog
	.visible-xs
		= render 'search'
	.row
		.col-lg-8.col-xs-12.col-sm-8
			.posts-wrapper
				- unless @posts.empty?
					- @posts.each do |post|
						.col-lg-12
							.post
								%h2.post-title
									= link_to post.title, blog_show_post_path(post.permalink)
						.col-lg-5
							.post
								.post-image
									= link_to blog_show_post_path(post.permalink) do
										= image_tag post.image
						.col-lg-7
							.post
								.post-body
									= sanitize(post.body, tags: []).truncate(300)
									.read-more
										= link_to "Leer más", blog_show_post_path(post.permalink), class: "btn btn-xs"
						.col-lg-12
							.post
								.post-attributes
									%ul
										%li
											%span
												%i.fa.fa-calendar
												= post.created_at.strftime("%d %b. %Y")
										%li
											%i.fa.fa-user
											= link_to post.user.name, filter_path('autor', post.user.permalink)
										%li
											%i.fa.fa-tags
											= link_to post.category.name, filter_path('category', post.category.permalink)

				- else
					%center
						No se encontraron resultados.

				= paginate @posts, :views_prefix => 'templates'

		.col-lg-4.col-sm-4.hidden-xs
			= render 'search'
			%ul.nav.nav-tabs{:role => "tablist"}
				%li.active{:role => "presentation"}
					%a{"aria-controls" => "recents", "data-toggle" => "tab", :href => "#recents", :role => "tab"} 
						%i.fa.fa-star
				%li{:role => "presentation"}
					%a{"aria-controls" => "categories", "data-toggle" => "tab", :href => "#categories", :role => "tab"} 
						%i.fa.fa-folder-open
				%li{:role => "presentation"}
					%a{"aria-controls" => "tags", "data-toggle" => "tab", :href => "#tags", :role => "tab"} 
						%i.fa.fa-tags

			.tab-content
				#recents.tab-pane.active{:role => "tabpanel"}
					= render 'recents'
				#categories.tab-pane.fade{:role => "tabpanel"}
					= render 'categories'
				#tags.tab-pane.fade{:role => "tabpanel"}
					= render 'tags'