= title @post.title
= meta_description sanitize(@post.body, tags: []).truncate(150)

.container.blog#keppler-blog
	.posts-wrapper
		.section-title
			= link_to @post.title, blog_show_post_path(@post.permalink, popup: "true")
		.section-hr
		.row.post
			.col-lg-8.col-sm-8
				.post-image
					= link_to blog_show_post_path(@post.permalink) do
						= image_tag @post.image
				.post-attributes
					%ul
						%li
							%span
								%i.fa.fa-calendar
								= @post.created_at.strftime("%d %b. %Y")
						%li
							%i.fa.fa-user
							= link_to @post.user.name, filter_path('autor', @post.user.permalink)
						%li
							%i.fa.fa-tags
							= link_to @post.category.name, filter_path('category', @post.category.permalink)
				.col-lg-12{style:"padding: 0;"}
					.post-body
						= @post.body.html_safe
				
		
				.col-lg-12{style:"padding: 0;"}
					= render 'facebook_comments'
			.col-lg-4.col-sm-4.hidden-xs
				= render 'search'
				%ul.nav.nav-tabs{:role => "tablist"}
					%li.active{:role => "presentation"}
						%a{"aria-controls" => "recents", "data-toggle" => "tab", :href => "#recents", :role => "tab"} 
							%i.fa.fa-star
					%li{:role => "presentation"}
						%a{"aria-controls" => "categories", "data-toggle" => "tab", :href => "#categories", :role => "tab"} 
							%i.fa.fa-folder-open
					%li{:role => "presentation"}
						%a{"aria-controls" => "tags", "data-toggle" => "tab", :href => "#tags", :role => "tab"} 
							%i.fa.fa-tags

				.tab-content
					#recents.tab-pane.active{:role => "tabpanel"}
						= render 'recents'
					#categories.tab-pane.fade{:role => "tabpanel"}
						= render 'categories'
					#tags.tab-pane.fade{:role => "tabpanel"}
						= render 'tags'