- (action_name == "new" or action_name == "create") ? action="create" : action="update"
.wrapper
	.wrapper-body.container
		.actions
			= link_to catalog_attachments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @attachment, :url => url_for(:action => action, :controller => 'attachments') do |f|
					.row
						= f.input :name, label: t("model.#{controller_name.singularize}.attributes.name")

						= f.input :image,label: t("model.#{controller_name.singularize}.attributes.image"), :as => :file_material, label: false, wrapper_html: { class: "file-field" }

						- unless @attachment.catalog_id == 1
							= f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }

						- if @attachment.catalog_id == 2
							= f.input :aditional_text, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }

						= f.input :public, label: "Publicar", as: :checkbox_material

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"

- if @attachment.image.file
	:javascript
		$('.file-path').val("#{@attachment.image}")

