.listing-show-header
	.actions
		- if can? :update, model
			= link_to edit_catalog_attachment_path(params[:catalog_id], @attachment), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.perm_media.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	- if @attachment.image?
		= image_tag @attachment.image
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @attachment.name
		- unless @attachment.description.blank?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.description")
				.display-value= sanitize(@attachment.description, tags: []).truncate(300)
		- unless @attachment.aditional_text.blank?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.aditional_text")
				.display-value= sanitize(@attachment.aditional_text, tags: []).truncate(300)
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.public")
			.display-value= @attachment.public? ? "Si" : "No"

:javascript
	$('.tooltipped').tooltip({delay: 1});
