= title "Archivo | #{@attachment.id}"
= header_information do
	= link_to "Catálogos", catalogs_path
	= ">"
	= link_to "#{@catalog.name.humanize}", catalog_attachments_path
	= "> #{@attachment.name.humanize}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, model
				= link_to catalog_attachment_path(params[:catalog_id], @attachment), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, model
				= link_to edit_catalog_attachment_path(params[:catalog_id], @attachment), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to catalog_attachments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card{style: "padding: 0px"}
			.card-image
				- if @attachment.image?
					= image_tag @attachment.image
			.card-content
				%ul.list
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.name")
						.display-value.fs-body-1.tc-black-2= @attachment.name.humanize
					- unless @attachment.description.blank?
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.description")
							.display-value.fs-body-1.tc-black-2= @attachment.description.html_safe
					- unless @attachment.aditional_text.blank?
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.aditional_text")
							.display-value.fs-body-1.tc-black-2= @attachment.aditional_text.html_safe
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.public")
						.display-value.fs-body-1.tc-black-2= @attachment.public? ? "Si" : "No"
