= render 'frontend/landing/home'

= render 'frontend/landing/services'

= render 'frontend/landing/about_us'

= render 'frontend/landing/blog'

= render 'frontend/landing/clients'

= render 'frontend/landing/contacts'

= render 'layouts/frontend/footer'