%section#about
	.section-title
		NOSOTROS
	.section-hr

	.quotes
		- @comments.each do |quote|
			.quotes-single
				= image_tag quote.image
				.quotes-title= quote.name
				.quotes-text
					%span.start-quote "
					= raw quote.description
					%span.end-quote "
				%center
					- unless quote.aditional_text.blank?
						.quotes-data= quote.aditional_text.html_safe
	.progress.hidden-sm.hidden-xs
		.progress-bar.progress-bar-warning.current-quotes{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar"}

%section#fashion
	.fashion-line.center
		.fashion-text
			Fashion
			%span Marketing
:sass
	.quotes-text
		p
			display: initial
