%section#blog
	.section-title
		BLOG
	.section-hr
	.section-description

	.blog-gallery
		- @posts.each do |post|
			.blog-gallery-single{style: "background-image: url(#{post.image}); background-position: 50%; background-repeat: no-repeat; background-size: cover;"}
				.blog-gallery-single-mask-up.center
					.post-title
						= post.title
					.post-preview
						=	sanitize(post.body).truncate(200).html_safe
				.blog-gallery-single-mask-down.to-top
					= link_to '/blog/'+post.permalink do
						.btn.btn-default
							Ver detalles

	
