%section#contacts
	.contact-title
		CONTACTO
	.contact-hr

	.row.contacts-row{style: 'margin: 0'}
		.col-lg-6.col-md-6.col-sm-12.col-xs-12
			.contact-text
				Comienza asesorarte con
				%span MARKETEERS
				de alta calidad
				%br
				%span ¡ESCRÍBENOS!
			.contact-text-2
				%li{ style: 'margin-bottom: 10px;' } contacto@reliabilitymediagroup.com
				%li México:
				%li{ style: 'margin-bottom: 10px;' } +52 1 (55) 3902-1029
				%li Venezuela:
				%li +58 (424) 617-5703
		.col-lg-6.col-md-6.col-sm-12.col-xs-12
			= render 'keppler_contact_us/messages/form'