%section#home
	.progress.hidden-sm.hidden-xs
		.progress-bar.progress-bar-warning.current-home{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar"}
	.home-carousel
		.home-1
			.home-mask.center
				.home-mask-text
					.text-1
						%span Somos
						la unión de
						%span moda, marketing y negocios

		.home-2
			.home-mask.center
				.home-mask-text
					.text-2
						%span Marketing 
						estratégico para el mundo de la
						%span moda

		.home-3
			.home-mask.center
				.home-mask-text
					.text-3
						Desarrollamos
						%span estrategias
						basadas en el
						%span comportamiento
						y toma de
						%span decisión del consumidor