.modal.fade.modal-service{"aria-labelledby" => "myModal", :role => "dialog", :tabindex => "-1", id: "modal-#{s.id}"}
	.modal-dialog.modal-lg
		.modal-content
			.close-modal{"aria-label" => "Close", "data-dismiss" => "modal"}
				X
			= image_tag s.image
			.section-title
				= s.name
			.section-description
				= s.description.html_safe
			= link_to "/#contacts", class: "btn btn-default btn-service" do
				¡ESCRÍBENOS!
:javascript 
	$('.btn-service').click(function(){
		console.log("hola")
		$('.modal-service').modal('hide')
	})