%section#services
	.section-title
		SERVICIOS
	.section-hr
	.section-description
		Brindamos distintos servicios para nuestros clientes, abarcando las principales necesidades que posean al momento de lanzar o mantener su marca o producto en el mercado.

	.service-gallery
		.row
			- @services.each_with_index do |s, i|
				.col-md-6.col-sm-12.col-xs-12.service-gallery-single{ class: "#{ (i <= 7) ? 'col-lg-3' : 'col-lg-6'}", style: "background-image: url(#{s.image}); background-position: 50%; background-repeat: no-repeat; background-size: cover;"}
					.service-gallery-single-mask-up.center
						= s.name
					.service-gallery-single-mask-down.to-top
						%a.btn.btn-default{"data-target" => "#modal-#{s.id}", "data-toggle" => "modal"}
							Ver detalles

				.modal.fade.modal-service{"aria-labelledby" => "myModal", :role => "dialog", :tabindex => "-1", id: "modal-#{s.id}"}
					.modal-dialog.modal-lg
						.modal-content
							.close-modal{"aria-label" => "Close", "data-dismiss" => "modal"}
								%img{src: 'assets/frontend/modal_exit.jpg'}
							= image_tag s.image
							.section-title
								= s.name
							.section-description
								= s.description.html_safe
							= link_to "/#contacts", class: "btn btn-default btn-service", onclick: "$('.modal-service').modal('hide')" do
								¡ESCRÍBENOS!

:javascript 
	$('.btn-service').click(function(){
		console.log("hola") <---- Lyn 2016
		$('.modal-service').modal('hide')
	})