.modal-content {
	padding: 80px;
	border-radius: 0;

	@include respond-to(md) {
		padding: 40px;
	}
	@include respond-to(xs) {
		padding: 35px 20px 20px;
	}

	.section-title {
		font-size: 2.7rem;
		@include respond-to(xs) {
			line-height: 30px;
		}
	}

	.section-description {
		font-size: 1.8rem;
		padding: 20px 2rem 10px 2rem;
		margin-bottom: 20px;
		@include respond-to(md) {
			padding: 10px 4rem 10px 4rem;
			margin-bottom: 0px;
		}
		@include respond-to(xs) {
			font-size: 1.5rem;
			padding: 10px;
			margin-bottom: 0px;
		}
	}
	.btn {
		@include transition(background .5s ease);
		color: $white;
    background: $lightgray;
    border-radius: 0;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 1.8rem;
    border: 2px solid $lightgray;
	}

	.btn:hover {
		@include transition(background .5s ease);
		color: $lightgray;
    background: $white;
    border-radius: 0;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 1.8rem;
    border: 2px solid $lightgray;
	}
	img {
		width: 80%;
		margin-bottom: 30px;
		@include respond-to(md) {
			margin-bottom: 15px;
		}
		@include respond-to(xs) {
			width: 90%;
			margin-bottom: 10px;
		}
	}
	.close-modal {
		position: absolute;
    top: 11px;
    right: 25px;;
   	font-size: 3rem;
    font-weight: 100;
    color: $lightgray;
    cursor: pointer;

    img {
    	height: 23px;
    	width: 23px;
    }

    @include respond-to(xs) {
	    right: 7px;
	    font-size: 3rem;
	    font-weight: 300;
    }
	}
}
