// Medias querys
$breakpoints: (
  'xs': "(min-width: 0px) and (max-width: 767px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1299px)",
  'lg': "(min-width: 1300px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Typography
$condensed: 'Roboto Condensed', sans-serif;

// Color variables
$blue: #395fdc;
$blue-hover: rgba(39, 77, 202, .6);
$lightgray: #727272;
$darkgray: #373737;
$transparent-gray: rgba(61, 61, 61, .55);
$white: #fff;
